// CDN CONFIG
$cloudinary-account: 'engagement-lab-home';
$cdn-product: 'make-foia-work';

// FONT CONFIG
$base-font-size: 24;
$base-font-size-mobile: 18;

@mixin pxtoem($mobile, $desktop: $base-font-size) {
    font-size: ($desktop / $base-font-size) + em;
    @include mq($until: tabletPortrait) {
        font-size: ($mobile / $base-font-size-mobile) + em;
    }
}

@font-face {
    font-family: 'ProFont';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/make-foia-work/fonts/ProFontWindows.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Bifocals';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/make-foia-work/fonts/Bifocals.otf') format('opentype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Nunito';
    src: url('http://res.cloudinary.com/engagement-lab-home/raw/upload/make-foia-work/fonts/NunitoSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

$mq-breakpoints: (
    mobile:  320px,
    mobileLg:  425px,
    tablet:  1024px,
    tabletPortrait:  768px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

// Mixins 
@import '../../node_modules/@engagementlab/el-scss/bundle';