<section id="content">
    <div class="columns is-full">
        <div class="column-logo">
            <img src="../assets/images/foia_logo.png">
        </div>
        <div class="column-content">
            <img src="../assets/images/foia_graphic.png">
        </div>
        <div class="column-nav-desktop">
            <img src="../assets/images/foia_nav.png">
        </div>
    </div>
        <div class="page-home">
                <img src="../assets/images/foia-home.png">
            </div>
        <div class="page-article-1">
            <img src="../assets/images/foia-article-1.png">
        </div>
        <div class="page-article-2">
                <img src="../assets/images/foia-article-2.png">
            </div>
        <div class="page-article-3">
            <img src="../assets/images/foia-article-3.png">
        </div>
</section>
