<section id="about">

  <cdn-image id="close-btn" cloudinaryId="img/close" width="50" svg="true" alt="Close 'about'" (click)="openCloseAbout();"></cdn-image>

  <div id="content">
    <cdn-image id="logo-about" class="logo" cloudinaryId="img/logo-white" width="170" phoneWidth="59" svg="true" alt="'Make FOIA Work' logo"></cdn-image>
    <p>
      <cdn-image id="yinyang" cloudinaryId="img/yinyang" width="50" phoneWidth="24" svg="true" alt="Yingyang image"></cdn-image>
    </p>

    <h1 class="column is-offset-1-tablet">About the project</h1>

    <div id="about-description" class="strong nunito column is-offset-half-tablet" [innerHtml]="about?.description.html">
    </div>

    <p class="column is-offset-1-tablet" *ngIf="isPhone">
      <cdn-image id="pegasus" cloudinaryId="img/pegsus" phoneWidth="134" svg="true" alt="Pegasus image"></cdn-image>
    </p>

    <h1 class="column is-offset-1-tablet">Who was involved</h1>

    <div class="columns no-margin">
    <div class="column is-offset-1-tablet is-half-tablet" *ngIf="!isPhone">
      <cdn-image id="pegasus" cloudinaryId="img/pegsus" width="309"svg="true" alt="Pegasus image"></cdn-image>
    </div>
    <div class="nunito p column is-5-tablet" [innerHtml]="about?.who.html | linebreak"></div>
    </div>

    <h2 class="pro-font center">Videos</h2>

    <div class="columns column is-offset-1-tablet is-full-mobile is-mobile is-multiline">
      <div class="video column is-full-mobile is-half-tablet" *ngFor="let video of videos">

        <div [innerHtml]="video.frame"></div>
        <h3 class="bifocals">{{video.name}}</h3>
        <p class="nunito">{{video.description}}</p>

      </div>
    </div>

    <footer class="column is-offset-1-tablet no-pad">
        Make FOIA Work<br />
        <span id="email">engagementlab@emerson.edu</span><br />
        120 Boylston St. Boston, MA 02116
      </footer>
  </div>

</section>

<div id="about-btn" (click)="openCloseAbout();">i</div>
<section id="content" class="container desktop">

  <cdn-image id="logo-mobile" class="logo-mobile" cloudinaryId="img/logo" width="59" svg="true" alt="'Make FOIA Work' logo"
    class="show-mobile"></cdn-image>

  <div class="columns column is-full is-mobile is-multiline no-pad">
    <div class="column is-2-tablet is-2-desktop hidden-mobile">

      <cdn-image cloudinaryId="img/logo" width="120" svg="true" alt="'Make FOIA Work' logo" class="logo hidden-desktop"></cdn-image>
      <cdn-image cloudinaryId="img/logo" width="170" svg="true" alt="'Make FOIA Work' logo" class="logo hidden-not-desktop"></cdn-image>

    </div>

    <div class="column is-8-tablet is-9-desktop is-full-mobile center bg">

      <cdn-image id="scribble" cloudinaryId="img/scribble" svg="true" width="82" class="hidden-mobile"></cdn-image>
      <cdn-image cloudinaryId="img/grafitti-bg"></cdn-image>
      <cdn-image id="smiley" cloudinaryId="img/smileyface" svg="true" width="98" phoneWidth="40"></cdn-image>

      <div id="description" class="description column is-full-tablet is-half-desktop pro-font hidden-mobile">
      {{about?.intro}}
        </div>
    </div>

    <!-- Mobile -->
    <div id="description-mobile" class="description column is-half-mobile is-offset-1 pro-font show-mobile">
      {{about?.intro}}
    </div>

  </div>

  <div class="columns column is-mobile is-full-mobile is-offset-1-tablet is-offset-2-desktop is-9-tablet">

    <div id="center" class="column">

      <h1>
        Our Stories
      </h1>

      <!-- Articles -->
      <div class="article columns is-multiline" *ngFor="let article of articles; let first = first;">
        <cdn-image id="chain" cloudinaryId="img/chainlink" svg="true" phoneWidth="59" width="166" *ngIf="first"></cdn-image>

        <cdn-image class="column is-full" cloudinaryPrefix="/" cloudinaryId="{{article.image.public_id}}" autoFormat="true"
          height="480"></cdn-image>

        <div class="bottom column columns">
          <div class="column is-half">
            <h2>{{article.name}}</h2>
            <p class="bifocals hidden-not-mobile">{{article.description}}</p>
            <a href="{{article.url}}" class="pro-font">
              read this article
              <br />
              <svg [attr.width]="linkWidth" height="11" fill="none" viewBox="0 0 212 11">
                <path stroke="#000" d="M192.735 10.531L210.127.501H0" />
              </svg>
            </a>
          </div>

          <div class="column">
            <p class="bifocals hidden-mobile">{{article.description}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<section id="guides">
  <div class="container desktop">
    <div class="column is-offset-1-tablet is-offset-2-desktop is-9">
      <h1>
        Our Guides
      </h1>
    </div>
    
    <!-- Guides -->
      <div class="column is-offset-1-tablet is-offset-2-desktop">
      <div class="guide columns is-multiline is-mobile is-centered" *ngFor="let guide of guides">

        <div class="column center is-full-mobile is-centered is-5-tablet">
          <cdn-image cloudinaryPrefix="/" cloudinaryId="{{guide.image.public_id}}" autoFormat="true" width="400"></cdn-image>
        </div>

        <div class="column is-11-mobile is-5-tablet">
          <h2 class="bifocals">{{guide.name}}</h2>
          <p class="nunito">{{guide.description}}</p>
          <div class="btn">
            <app-button href="{{guide.file.url}}" label="download .pdf">
            </app-button>
          </div>
        </div>
      </div>
    </div>

    <footer class="column is-offset-2">
      Make FOIA Work<br />
      <span id="email">engagementlab@emerson.edu</span><br />
      120 Boylston St. Boston, MA 02116
    </footer>
  </div>
</section>
